* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "lato-light";
  src: url("../fonts/lato/Lato-Light.ttf");
}

@font-face {
  font-family: "lato-regular";
  src: url("../fonts/lato/Lato-Regular.ttf");
}

.header {
  background: url("../img/fone_header.png") center center/cover no-repeat;
  min-height: 962px;
}

.hat {
  padding: 0 191px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 143px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hat > .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 490px;
}

.hat > .menu li {
  list-style-type: none;
}

.hat > .menu li > a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-family: "lato-light";
}

.header_content {
  max-width: 1136px;
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_title {
  width: 619px;
}

.header_title > h1 {
  font-family: "lato-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
}

.header_text {
  width: 546px;
  font-family: "lato-light";
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 22px;
}

.search_button > button {
  width: 171px;
  height: 58px;
  background: #1B7DFF;
  border: none;
  font-family: "lato-regular";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.search_button > button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 100px darkblue;
          box-shadow: 0 0 100px darkblue;
  width: 181px;
  height: 68px;
  background: blue;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.header_search {
  margin-top: 54px;
}

.header_search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 886px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_point {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #FFFFFF;
}

.header_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 22px;
  border-bottom: 2px solid #BFC0C5;
}

.header_input .input {
  margin-left: 23px;
}

.header_input .input > input {
  width: 226px;
  background: none;
  border: none;
  font-family: "lato-light";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.header_input .input > input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.header_input .input > input:-ms-input-placeholder {
  color: #FFFFFF;
}

.header_input .input > input::-ms-input-placeholder {
  color: #FFFFFF;
}

.header_input .input > input::placeholder {
  color: #FFFFFF;
}

.header_input .input > input:focus {
  outline: 0;
}

.benefits {
  position: relative;
  top: -228px;
  max-width: 1262px;
  min-height: 655px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  display: block;
  margin: 0 auto;
  padding-top: 93px;
}

.benefits_logo {
  font-family: "lato-regular";
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  margin-left: 99px;
}

.benefits_menu {
  margin: 120px auto;
  width: 1061px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits_title {
  font-family: "lato-regular";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-top: 37px;
}

.benefits_descr {
  font-family: "lato-light";
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 26px;
}

.benefits_link a {
  width: 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "lato-regular";
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
}

.benefits_link a:hover {
  color: blue;
  text-decoration: underline;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.benefits_link {
  margin-top: 39px;
}

.portfolio {
  width: 1262px;
  display: block;
  margin: -100px auto;
  min-height: 735px;
}

.portfolio_hat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.view_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view_all .view_img {
  margin-left: 26px;
}

.view_text a {
  text-decoration: none;
  font-family: "lato-regular";
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
}

.view_text a:hover {
  color: blue;
  text-decoration: underline;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.portfolio_title h2 {
  font-family: "lato-regular";
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
}

.portfolio_title hr {
  width: 253px;
  height: 2px;
  border: none;
  background: #006DFE;
  margin-top: 7px;
}

.galw {
  width: 594.5px;
  height: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 32px;
  padding-bottom: 27px;
}

.galley_wrapper1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
}

.gallery_wrapper2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.portfolio_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__item1 {
  background: url("../img/mount.png") center center/cover no-repeat;
}

.gallery__item2 {
  background: url("../img/kyoto.png") center center/cover no-repeat;
}

.gallery__item3 {
  width: 383px;
  height: 256px;
  background: url("../img/tokyo.png") center center/cover no-repeat;
}

.gallery__item4 {
  width: 383px;
  height: 256px;
  background: url("../img/niigata.png") center center/cover no-repeat;
}

.gallery__item5 {
  width: 383px;
  height: 256px;
  background: url("../img/sapporo.png") center center/cover no-repeat;
}

.gallery_title {
  font-family: "lato-regular";
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */