* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "lato-light";
  src: url("../fonts/lato/Lato-Light.ttf");
}

@font-face {
  font-family: "lato-regular";
  src: url("../fonts/lato/Lato-Regular.ttf");
}

.header {
  background: url("../img/fone_header.png") center center/cover no-repeat;
  height: 962px;
}

.hat {
  padding: 0 191px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 143px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hat > .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 490px;
}

.hat > .menu li {
  list-style-type: none;
}

.hat > .menu li > a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-family: "lato-light";
}

.header_content {
  width: 1136px;
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_title {
  width: 619px;
}

.header_title > h1 {
  font-family: "lato-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
}

.header_text {
  width: 546px;
  font-family: "lato-light";
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 22px;
}

.search_button > button {
  width: 171px;
  height: 58px;
  background: #1B7DFF;
  border: none;
  font-family: "lato-regular";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.search_button > button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 100px darkblue;
          box-shadow: 0 0 100px darkblue;
  width: 181px;
  height: 68px;
  background: blue;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.header_search {
  margin-top: 54px;
}

.header_search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 886px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_point {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #FFFFFF;
}

.header_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 22px;
  border-bottom: 2px solid #BFC0C5;
}

.header_input .input {
  margin-left: 23px;
}

.header_input .input > input {
  width: 226px;
  background: none;
  border: none;
  font-family: "lato-light";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.header_input .input > input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.header_input .input > input:-ms-input-placeholder {
  color: #FFFFFF;
}

.header_input .input > input::-ms-input-placeholder {
  color: #FFFFFF;
}

.header_input .input > input::placeholder {
  color: #FFFFFF;
}

.header_input .input > input:focus {
  outline: 0;
}
/*# sourceMappingURL=style.css.map */